.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nooverflow {
  overflow: hidden;
}
.bluecolor {
  color: #3d549e;
}
.h1 {
  color: #2d3551;
  font-size: 2rem;
}
.splash-gobtn {
  background: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  max-width: 160px;
}
.go-container {
  background: white;
  border: 2px solid rgb(187, 187, 187);
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col50 {
  display: flex;
  max-width: 50%;
  flex-direction: column;
}
.col60 {
  display: flex;
  max-width: 60%;
  flex-direction: column;
}
.splash-screen {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(229, 231, 239);
  background: linear-gradient(
    180deg,
    rgba(229, 231, 239, 1) 0%,
    rgba(192, 197, 216, 1) 57%,
    rgba(192, 197, 216, 1) 100%
  );
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.splash-screen.hidden {
  opacity: 0;
  pointer-events: none; /* Disable pointer events when hidden */
}

a.header-link {
  border: 1px solid gray;
  background: white;
  padding: 0;
  text-decoration: none;
  margin: 0 2px;
  font-weight: 700;
  color: black;
  height: 24px;
}
a.header-link.buy {
  background-color: #ffe024;
  padding: 0 15px;
}
a.header-link.chart {
  padding: 0 15px;
}
a.header-link.x,
a.header-link.tg {
  display: flex;
}
.wrapper {
  padding: 0 23%;
  padding-bottom: 20px;
}
.wrappermed {
  padding: 0 15%;
  padding-bottom: 20px;
}
.wrapperbig {
  padding: 0 10%;
  padding-bottom: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
  height: 100%;
  position: absolute;
  width: 20%;
  gap: 20px;
  top: 109px;
}
.sidebar-left {
  left: 1.5%;
}
.sidebar-right {
  right: 1.5%;
}
.sidebar img {
  max-width: 100%;
}
.send-timer {
  position: absolute;
  color: rgb(219, 75, 75);
  left: 20px;
  bottom: 20px;
}
.pos-relative {
  position: relative;
}
.brand-container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.btn-container {
  display: flex;
  align-items: center;
}
.btn-container button {
  margin: 0 5px;
  width: 25px;
  height: 25px;
}
.brand-text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: 10px;
  color: black;
}
.chat-container {
  border: 1px solid gray;
  margin-bottom: 20px;
  background-color: white;
}
.message-message {
  line-break: anywhere;
  color: black;
}
.message-username {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.message-charcount {
  position: absolute;
  color: rgb(72, 72, 72);
  right: 10px;
}
.message-container {
  display: flex;
  padding: 20px;
  border-top: 1px solid gray;
  flex-direction: column;
  position: relative;
}
.message-area {
  resize: none;
  width: 100%;
  border: none;
  padding: 0;
  outline: none;
  font-size: 1.8em;
  min-height: 150px;
  background-color: white;
  color: black;
}
.force-height {
  height: 150px;
}
.padding-20 {
  padding: 20px;
}
.message-area:focus,
.message-area:focus-visible {
  resize: none;
  outline: none;
  width: 100%;
  border: none;
}
.fullwidth {
  width: 100%;
}
.theme-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
}
.theme-toggler {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  background-color: #eee;
  border: none;
  outline: none;
  cursor: pointer;
}

.theme-toggler.dark {
  background-color: #333;
}

.toggle-track {
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.toggle-ball {
  position: absolute;
  top: 9.5%;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.3s ease;
}

.theme-toggler.dark .toggle-ball {
  left: calc(100% - 22px);
}

.theme-toggler.dark .toggle-track {
  background-color: #555;
}
.username-btn,
.send-btn {
  padding: 8px 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.username-btn {
  color: white;
  background: rgb(127, 89, 248);
  background: linear-gradient(
    129deg,
    rgba(127, 89, 248, 1) 36%,
    rgba(234, 172, 234, 1) 100%
  );
}
.send-btn {
  color: white;
  background-color: #4e76ec;
}
.bg {
  background-image: url("../img/daybg.png");
  background-repeat: repeat;
  min-height: 100vh;
  background-position: center;
}
.splash-nav {
  padding: 20px;
  background-color: #465dbd;
  display: flex;
  justify-content: space-between;
}
.splash-brand {
  max-width: 30%;
}
.splash-login {
  max-width: 40%;
}

/*dark theme styles */
.dark-theme .bg {
  background-image: url("../img/nightbg.png");
}
.dark-theme .chat-container {
  background-color: #111; /* Light background */
}

.dark-theme .message-message {
  color: white; /* Light text color */
}

.dark-theme .message-username {
  color: white; /* Light text color */
}

.dark-theme .message-charcount {
  color: rgb(72, 72, 72); /* Same as original */
}

.dark-theme .message-container {
  border-top: 1px solid gray; /* Same as original */
}

.dark-theme .message-area {
  background-color: #111; /* Light background */
}
.dark-theme .message-area {
  color: white;
}
.dark-theme .brand-text {
  color: white;
}
/* Tablet and mobile styles */
@media (max-width: 1000px) {
  .wrapper {
    padding: 0 15%;
    padding-bottom: 20px;
  }
  .wrapperbig {
    padding: 0 5%;
    padding-bottom: 20px;
  }
  .nav-container {
    padding-top: 50px;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 760px) {
  .padding-20 {
    padding: 15px;
  }
  .wrapper {
    padding: 0 10%;
    padding-bottom: 20px;
  }
  .wrapperbig {
    padding: 0 4%;
    padding-bottom: 20px;
  }
  .splash-brand {
    max-width: 35%;
  }
  .splash-login {
    max-width: 55%;
  }
  .row {
    flex-direction: column;
  }
  .col50 {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding: 0 5%;
    padding-bottom: 20px;
  }
  .wrapperbig {
    padding: 0 5%;
    padding-bottom: 20px;
  }
  .padding-20 {
    padding: 7.5px;
  }
  .nav-container {
    flex-direction: column;
    gap: 20px;
  }
  .splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .splash-brand {
    max-width: 80%;
  }
  .splash-login {
    max-width: 80%;
  }
  .send-timer {
    left: 10px;
    bottom: 20px;
  }
  .go-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
